1.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        32
      ],
      "id": "fd550bf9-d010-46f5-92bc-e0ff4d06a4f9",
      "name": "Telegram Trigger",
      "webhookId": "62a05070-4650-4fdb-9d5f-40ef2d8331fd",
      "credentials": {
        "telegramApi": {
          "id": "FYtwAqB1hooPtWxG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Hi {{ $json.message.from.first_name }} {{ $json.message.from.last_name }}, ZynnFinance BETA Is Here And Ready To Send You Random High Impact Financial News. News Will Be Updated And Send You In A Couple Of Minutes...\n\nAll Data Is Delayed By 60 Hours",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        32
      ],
      "id": "fce44631-4465-4e09-acac-ad3298088645",
      "name": "Send a text message",
      "webhookId": "85c2941e-ac27-4be2-9220-e76fa0e62841",
      "credentials": {
        "telegramApi": {
          "id": "FYtwAqB1hooPtWxG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        96
      ],
      "id": "b1507cbc-da1b-4023-975a-93b0d08bbe52",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        -144
      ],
      "id": "5ad90fec-9044-4d6e-80ee-0fd5a5584e0b",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Send a text message').item.json.result.chat.id }}",
        "text": "={{ $json.output }}\n\nThe Next News Update Will Be Available In Thirthy-Six Minutes...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -304
      ],
      "id": "fe2d05d4-bf86-48ba-a3c6-f30345564411",
      "name": "Send a text message1",
      "webhookId": "9c33d7c7-f874-473b-8ce2-b8a10f9a5bef",
      "credentials": {
        "telegramApi": {
          "id": "FYtwAqB1hooPtWxG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional macro-financial analyst AI.\n\nYour task is to analyze global financial or political news and convert it into actionable trading insight.\n\nINPUT:\n- News Title: {{$json[\"title\"]}}\n- News Content: {{$json[\"content\"]}}\n\nINSTRUCTIONS:\n\n1. Translate the news into clear and natural Indonesian (Bahasa Indonesia).\n2. Summarize the news into MAXIMUM 2 sentences, focusing only on key information.\n3. Classify the news into ONE category:\n   - \"Macro\" (CPI, PPI, PMI, Interest Rate, NFP, etc.)\n   - \"Geopolitics\" (war, conflict, sanctions, political instability)\n   - \"Crypto\"\n   - \"Stock\"\n   - \"Other\"\n\n4. Determine SENTIMENT from market perspective:\n   - \"Bullish\"\n   - \"Bearish\"\n   - \"Neutral\"\n\n5. Determine IMPACT SCORE from 1 to 10 based on:\n   - Importance of the event\n   - Market sensitivity\n   - Potential volatility\n\n6. Identify AFFECTED ASSETS:\n   Examples:\n   - Forex: USD, EUR, JPY\n   - Commodities: Gold, Oil\n   - Crypto: BTC, ETH\n   - Index: S&P500, Nasdaq\n\n7. Determine MARKET BIAS:\n   Example:\n   - \"Bearish USD\"\n   - \"Bullish Gold\"\n   - \"Risk-Off\"\n   - \"Risk-On\"\n\n8. Ignore low-relevance or unclear news. If unclear, set impact <= 4.\n\nOUTPUT FORMAT (STRICT JSON ONLY):\n\n{\n  \"translated\": \"...\",\n  \"summary\": \"...\",\n  \"category\": \"...\",\n  \"sentiment\": \"...\",\n  \"impact\": 0,\n  \"market_bias\": \"...\",\n  \"affected_assets\": [\"...\"],\n  \"confidence\": 0-100\n}\n\nIMPORTANT RULES:\n- Do NOT add explanation outside JSON\n- Be consistent and objective\n- Do NOT hallucinate data\n- Keep summary short and sharp\n\nSPECIAL RULES:\n\n- If news contains economic data (CPI, PPI, NFP, Interest Rate):\n  → Increase impact score (minimum 7)\n\n- If news involves war, crisis, or geopolitical tension:\n  → Bias towards \"Risk-Off\"\n  → Gold and USD likely bullish\n\n- If news is about crypto regulation:\n  → High volatility expected\n\n- If duplicate or similar news appears:\n  → Keep impact consistent\n\n- If no clear market effect:\n  → Set sentiment = Neutral and impact <= 4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -128
      ],
      "id": "6b9daf8b-58cd-4dc9-bee1-3c6ab8e66db9",
      "name": "Analyze News"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\nDo not change any data from json, Only convert from json in to this format :\n\n🚨 HIGH IMPACT NEWS\n\n📰 {{$json[\"summary\"]}}\n\n📊 Impact: {{$json[\"impact\"]}}/10  \n📉 Sentiment: {{$json[\"market_bias\"]}}  \n💰 Assets: {{$json[\"affected_assets\"]}}\n\n🧠 Confidence: {{$json[\"confidence\"]}}%",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        -368
      ],
      "id": "6e5684b6-b491-4038-b29c-a5082bde3a0d",
      "name": "Cleaning json output"
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        -320
      ],
      "id": "91f6a6ba-bf62-4dbb-bed3-fc0d79594872",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 36,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        -368
      ],
      "id": "dd456c19-b490-44ee-8006-db8d5006824f",
      "name": "Wait",
      "webhookId": "469125d9-0605-4bb7-b776-8adcb0af3c1a"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        784,
        -144
      ],
      "id": "61261599-4565-4126-aa4c-8fdb6f443ce2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "kK8YNWlcIVxwkFH8",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a3449c13-f0b5-442b-aa3d-273d987ab74c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -368
      ],
      "id": "15b3a0cf-abf2-4ac6-a00e-afb22998a261",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/latest?apikey=pub_cd165419bcdf47549a786ea60e73364d",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        -48
      ],
      "id": "14854c29-d316-4146-bb0c-f13a674a349e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "gemini/gemini-2.0-flash-lite"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        96
      ],
      "id": "c9a709a4-c8e1-4001-ba66-8c83cd9faea9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "01NvN8wDCLPOf6Qd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Analyze News",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Cleaning json output",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Analyze News": {
      "main": [
        [
          {
            "node": "Cleaning json output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning json output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Cleaning json output",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze News",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4646ae3f-32a6-428e-83af-e5b66ca18bfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e705de6123d8751f1f9eb3de0a84411aeedee3ead5505f34fe5ee3bcb10e5d95"
  },
  "id": "1qAhFO0eziHc8TEx",
  "tags": []
}